body{
    
    display: flex; 
    text-align: center;
    justify-content: center;
    align-self: center;
}

.grid{
    margin-top: 5rem;
    width: 450px;
    height: 450px;
}

img{
    box-shadow: 0px 10px 10px -6px grey;
    width: 100px;
    height: 100px;
    margin: 5px;
}